@page "/editorial"
@using Reader.Shared
@inject HttpClient Http

<PageTitle>Editorial Page</PageTitle>

<h1>Editorial Page</h1>

@if (feeds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var feed in feeds)
    {
        @if (feed.Items == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>@feed.Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        @*<th>@feed.Description</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in feed.Items)
                                    {
                                        <tr>
                                            <td><a target="_blank" href="@item.Url">@item.Title</a></td>
                                        </tr>
                                        <tr>
                                            @*<td>@item.Description</td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    }
}


@code {
    private Feed[]? feeds;

    protected override async Task OnInitializedAsync()
    {
        feeds = await Http.GetFromJsonAsync<Feed[]>("Feeds?cat=editorial");
        if (feeds != null)
        {
            for (int x = 0; x < feeds.Length; x++)
            {
                feeds[x] = await Http.GetFromJsonAsync<Feed>($"SingleFeed?url={feeds[x].Url}&length=8");
                StateHasChanged();
                //feeds[x] = await Http.GetFromJsonAsync<Feed>($"Feed?url={feeds[x].Url}");
            }
        }
    }
}
